# Atividade - Semana 03 - Python (Parte 1)

Esta é atividade semanal sugerida. Você deverá preenchê-la e enviá-la dentro do prazo (até o fechamento da semana corrente).

###Questão 1

Crie um objeto chamado `nome` e atribua seu nome à ele. Imprima na tela o resultado.

In [2]:
# Questao 1

nome = "Weslley Pereira da Costa"
print(nome)

Weslley Pereira da Costa

###Questão 2

Imprima na tela qual o tipo (ou classe) do objeto criado no exercício anterior.

In [3]:
# Questao 2

type(nome)

str

###Questão 3

Abaixo você encontra uma funcao que calcula o triplo de um valor. Embora, completamente sem documentação. Complete a documentação utilizando comentário iniciados com $\#$.

In [5]:
# Questao 3

#############################
# A função pega um valor e multiplica por 3, gerando assim um resultado.
#############################

def triplo(numero):
    resultado = 3 * numero
    return resultado

triplo_do_numero = triplo(27)

print('Triplo:', triplo_do_numero)

Triplo: 81

###Questão 4

Crie uma função que calcula o quadrado de um número.

> Ex.: O quadrado de 3 é 3 * 3 = 9 (basta multiplicar o número por ele mesmo)

In [12]:
# Questao 4

def quadrado(num):
  return num ** 2

quadrado_do_numero = quadrado(512)

print('Quadrado:', quadrado_do_numero)

Quadrado: 262144